<!DOCTYPE html>
<html>
	<head>
	  	<title>Dooley Nsewolo</title>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<%= stylesheet_link_tag "bootstrap-responsive", media: "all" %>
	  	<link rel='shortcut icon' type='image/icon' href='<%= root_url %>/img/icone.png'/>
	  	<%= csrf_meta_tags %>
	</head>
	<body>
	  	<%= javascript_include_tag "application" %>
	</body>
</html>
